*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    forced-color-adjust: black;
}
body{
    height: 100vh;
    width: 100vh;
    display: flex;
    align-items: center;
    background-color: white;
}
img{
    display: block;
    align-items:left;
    width: 20%;
}
h3{
    margin-left: 30px;
    font-size: x-large;
    color: black;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
    color:rgb(43, 39, 39);
}
span,p,h2{
    color: rgb(248, 69, 99);
}
h1,ul{
    color: black;
    margin-top: 10px;
    margin-left: 10px;
}
.navpannel .line1{
    height: 1px;
    background: black;
    margin-top: 10px;
    margin-bottom: 10px;
}
.navpannel{
    width: 15vw;
    min-height: 100vh;
    position: fixed;
    background: white;
    display: flex;
    flex-direction: column;
}
.navpannel .name{
    height: 10vh;
    align-items: center;
    justify-content: center;
}
.navpannel li{
    font-size: medium;
    padding: 5px 30px;
    display: flex;
    align-items: center;
}
.navpannel li:hover{
    background: rgb(233, 229, 229);
    color: rgb(53, 182, 233);
    transform:scale(1.2);
}

/* cards */
/* card1 */
.classcard{
    display: grid;
    margin-left: 300px;
    grid-template-rows: 100px 100px 80px ;
    grid-template-columns: 216px;
    grid-template-areas: "image" "text" "stats";
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 10px;
    background: gray;
    box-shadow: 5px 5px 15px rgb(51, 48, 48);
    text-align: center;
}
.classcard .cardimage{
    grid-area: image;
}
.classcard .cardtext{
    grid-area: text;
}
.classcard .cardstats{
    grid-area: stats;
}
.classcard .cardtext p{
    color: white;
}
.classcard .cardtext h2{
    color: white;
}

/* card2 */
.classcard2{
    display: grid;
    margin-left: 120px;
    grid-template-rows: 100px 100px 80px ;
    grid-template-columns: 216px;
    grid-template-areas: "image" "text" "stats";
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 10px;
    background: gray;
    box-shadow: 5px 5px 15px rgb(51, 48, 48);
    text-align: center;
}
.classcard2 .cardimage2{
    grid-area: image;
}
.classcard2 .cardtext2{
    grid-area: text;
}
.classcard2 .cardtext2 p{
    color: white;
}
.classcard2 .cardtext2 h2{
    color: white;
}
.classcard2 .cardstats2{
    grid-area: stats;
}
/* card3 */
.classcard3{
    display: grid;
    margin-left: 120px;
    grid-template-rows: 100px 100px 80px ;
    grid-template-columns: 216px;
    grid-template-areas: "image" "text" "stats";
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 10px;
    background: gray;
    box-shadow: 5px 5px 15px rgb(51, 48, 48);
    text-align: center;
}
.classcard3 .cardimage3{
    grid-area: image;
}
.classcard3 .cardtext3{
    grid-area: text;
}
.classcard3 .cardtext3 p{
    color: white;
}
.classcard3 .cardtext3 h2{
    color: white;
}
.classcard3 .cardstats3{
    grid-area: stats;
}
/*search bar*/
.empty{
    position: absolute;
    right: 0;
    width: 80vw;
    height: 100vh;
}
.empty .header{
    position: fixed;
    right: 0;
    width: 85vw;
    top: 0;
    height: 10vh;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.empty .header .nav{
    width: 90%;
    display: flex;
    align-items: center;
}
.empty .header .nav .search{
    flex: 3;
    display: flex;
    justify-content: center;
}
.empty .header .nav .search input{
    border: none;
    background: #f1f1f1;
    padding: 10px;
    width: 50%;
    font-size: large;
    color: rgb(150, 146, 146);
}
.empty .header .nav .search button{
    width: 40px;
    height: 40px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.empty .header .nav .search button img{
    width: 30px;
    height: 30px;
    background: rgb(248, 69, 99);
}
.empty .header .nav .user img{
    width: 40px;
    height: 40px;
}
/* profile icon */

.wrapper{ 
    position: absolute;
    top: 4.5%;
    left: 90%;
    transform: translate(-50%,-50%);
  }
  
  .wrapper .navbar{
    width: 90px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    padding: 0px 0px;
    border-radius: 50px;
  }
  
  .wrapper .navbar ul li a{
    color: #644def;
  }
  
  .wrapper .navbar .left ul,
  .wrapper .navbar .right ul li a{
    display: flex;
    align-items: center;
    height: 40px;
  }
  
  .wrapper .navbar .left ul li,
  .wrapper .navbar .right img{
    margin: 0 10px;
  }
  
  .wrapper .navbar .right a{
    text-align: right;
  }
  
  .wrapper .navbar .right a span{
    font-size: 10px;
  }
  
  .wrapper .navbar .right ul li{
    position: relative;
  }
  
  .wrapper .navbar .right ul li .dropdown{
    position: absolute;
    top: 60px;
    right: -19px;
    background: rgb(235, 226, 226);
    padding: 10px 25px;
    border-radius: 5px;
    display: none;
  }
  
  .wrapper .navbar .right ul li .dropdown .fas{
    margin-right: 10px;
  }
  
  .wrapper .navbar .right ul li .dropdown:before{
    content: "";
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    border: 10px solid;
    border-color: transparent transparent rgb(235, 226, 226) transparent;
  }
  
  .wrapper .navbar .right ul li.active .dropdown{
    display: block;
  }
  .wrapper .navbar .right ul li .profileimage img{
      width: 50%;
  }
