*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    forced-color-adjust: black;
}
body{
    height: 100vh;
    width: 100vh;
    display: flex;
    align-items: center;
    background-color: white;
}
img{
    display: block;
    align-items:left;
    width: 20%;
}
h3{
    margin-left: 30px;
    font-size: x-large;
    color: black;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
    color:rgb(43, 39, 39);
}
span,p,h2{
    color: black;
}
h1,ul{
    color: black;
    margin-top: 10px;
    margin-left: 10px;
}
.navpannel ul h3{
    margin-right: 130px;
}
.navpannel ul .line{
    height: 0.1px;
    background-color: rgb(189, 186, 186);
    width: 200px;
}
.namecard{
    width: 12vw;
    height: 8vh;
    position: fixed;
    background: white;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    top: 12%;
    left: 20%;
    align-items: center;
    justify-content: left;
    box-shadow: 2px 2px 2px rgb(51, 48, 48);
}
.namecard h4{
    align-items: center;
}
.namecard h3{
    align-items: center;
    margin-left: 10px;
    margin-top: 5px;
}
.navpannel{
    width: 15vw;
    min-height: 38vh;
    position: fixed;
    background: white;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    top: 12%;
    left: 1%;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 2px rgb(51, 48, 48);
}
.navpannel li{
    font-size: medium;
    padding: 5px 30px;
    display: flex;
    align-items: center;
    
}
.navpannel li:hover{
    background: rgb(233, 229, 229);
    color: rgb(53, 182, 233);
    transform:scale(1.1);
    border-left-color:rgb(53, 182, 233) ;
    margin-left: 1px;
}
.navpannel2{
    width: 15vw;
    min-height: 18vh;
    position: fixed;
    background: white;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    top: 60%;
    left: 1%;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 2px rgb(51, 48, 48);

}
.navpannel2 li{
    font-size: medium;
    padding: 5px 30px;
    display: flex;
    align-items: center;
}
.navpannel2 ul .line{
    height: 0.1px;
    background-color: rgb(189, 186, 186);
    width: 200px;
}
.navpannel2 ul h3{
    margin-right: 130px;
}
.navpannel2 li:hover{
    background: rgb(233, 229, 229);
    color: rgb(53, 182, 233);
    transform:scale(1.1);
    border-left-color:rgb(53, 182, 233) ;
    margin-left: 1px;
}
.navpannel3{
    width: 15vw;
    min-height: 8vh;
    position: fixed;
    background: white;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    top: 79%;
    left: 1%;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 2px rgb(51, 48, 48);
}
.navpannel3 li{
    font-size: medium;
    padding: 5px 30px;
    display: flex;
    align-items: center;
}
.navpannel3 li:hover{
    background: rgb(233, 229, 229);
    color: rgb(53, 182, 233);
    transform:scale(1.1);
    border-left-color:rgb(53, 182, 233) ;
    margin-left: 1px;
}

/*search bar*/
/* notification icon */
.icon-button{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: black;
    background: #dddd;
    margin: 25px;
    margin-top: 30px;
    right: -95%;
}
.icon-button__badge{
    position: absolute;
    top: -15px;
    right: -15px;
    width: 30px;
    height: 30px;
    background: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.icon-button:hover{
    cursor: pointer;

}
.icon-button:active{
    color:#dddd;
    background: bisque;
}

/* navbar */
.empty{
    position: absolute;
    right: 0;
    width: 80vw;
    height: 100vh;
}
.empty .header{
    position: fixed;
    right: 0;
    width: 100vw;
    top: 0;
    height: 10vh;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.empty .header .nav{
    width: 90%;
    display: flex;
    align-items: center;
}
.empty .header .nav .user img{
    width: 40px;
    height: 40px;
}

/* progress bar */
.skill{
    width: 160px;
    height: 160px;
    /* background: red; */
    position: relative;
    left: 45%;
    top: -10%;
}
.skill h4{
    margin-left: 40%;
    margin-top: 10%;
    font-size: x-large;
}
.outer{
    height: 160px;
    width: 160px;

    border-radius: 50%;
    padding: 20px;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
                -6px -6px 10px -1px rgba(255,255,255,0.7);
}
.inner{
    height: 120px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
                inset -4px -4px 6px -1px rgba(255,255, 255,0.7),
                -0.5px -0.5px 0px rgba(255,255, 255,1),
                0.5px 0.5px 0px rgba(0,0,0,0.15),
                0px 12px 10px -10px rgba(0,0,0,0.05);
}
#number{
    font-weight: 600px;
    color: black;
}
circle{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: anim 2s linear forwards;
}
svg{
    top: 0;
    left: 0;
    position: absolute;
}
@keyframes anim{
    100%{
        stroke-dashoffset: 300;
    }
}
/* progress bar 2 */
.skill2{
    width: 160px;
    height: 160px;
    /* background: red; */
    position: relative;
    left: 50%;
    top: -10%;
}
.outer2{
    height: 160px;
    width: 160px;

    border-radius: 50%;
    padding: 20px;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
                -6px -6px 10px -1px rgba(255,255,255,0.7);
}
.inner2{
    height: 120px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
                inset -4px -4px 6px -1px rgba(255,255, 255,0.7),
                -0.5px -0.5px 0px rgba(255,255, 255,1),
                0.5px 0.5px 0px rgba(0,0,0,0.15),
                0px 12px 10px -10px rgba(0,0,0,0.05);